.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 40px;
    --height: 56px;
    height: var(--height);
    display: flex;

    align-items: center;
    background: rgba(121, 76, 76, 0.05);
    backdrop-filter: blur(4px);
    flex-direction: column;
    z-index: 100;
}

.head .main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--mw);
}

.head .logo {
    height: 20px;
}

.head #menu-expand {
    display: none;
}

.head #menu-expand.active {
    pointer-events: none;
}

.head #menu-expand.active + #menu-panel {
    left: 40px;
}

.head #menu-expand > .menu-icon {
    transition: transform 0.5s;
}

.head #menu-expand .active #menu-expand > .menu-icon {
    transform: rotate(45deg);
}

@keyframes goOut {
    0% {
        left: 40px;
    }
    100% {
        left: 100vw;
    }
}

.head .menu {
    display: flex;
    gap: 12px;
}

.head .menu li {
    --circle-size: 100px;
    border-radius: 9999px;
    padding: 6px 16px;
    cursor: pointer;
    background-color: #1f1f26;
    transition: 0.3s background ease-in-out;
}

.head .menu li.nav,
.head .menu li.nav::before {
    background-color: #6361dc;
}

.head .menu .skin {
    width: 14px;
    padding: 6px 13px;
}

.head #menu-panel {
    width: calc(100vw - 80px);
    position: absolute;
    top: 44px;
    left: 100vw;
    padding: 16px 24px;
    background: rgba(146, 146, 146, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px rgba(10, 10, 14, 0.4);
    z-index: 101;
}

.head #menu-panel .menu-panel-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 16px;
}

.head #menu-panel .menu-panel-content li {
    --circle-size: 100px;
    border-radius: 9999px;
    padding: 6px 16px;
    cursor: pointer;
    background-color: #1f1f26;
    transition: 0.3s background ease-in-out;
}

.head #menu-panel .menu-panel-content li.nav,
.head #menu-panel .menu-panel-content li.nav::before {
    background-color: #6361dc;
}



.head blockquote{
    position:absolute;inset:calc(20px + var(--height)) 0 0;
    font-size:0;width:100%;display:flex;
    align-items:flex-end;justify-content:center
}

.head blockquote::after{
    content:'';position:absolute;
    bottom:0;left:0;right:0;height:20px;

}

.head blockquote img{margin-bottom:10px;animation:rotate 6s linear infinite}

.btn {
    --circle-size: 75%;
    --mouse-x: center;
    --mouse-y: center;
    --border: 99px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--circle-size) circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
    z-index: 1;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.2) 100%);
    z-index: 2;
}

.btn:hover::before {
    background: radial-gradient(var(--circle-size) circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.6), transparent 40%);
}

.btn:hover::after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%);
}
.magi {
    --circle-size: 600px;
    --inset: 1px;
    --border: 6px;
    position: relative;

    align-items: center;
    justify-content: center;
    border-radius: var(--border);
    background: linear-gradient(180deg, #3d3d3d 0%, rgba(232, 232, 246, 0.72) 100%);
}

.magi::before,
.magi::after {
    content: '';
    position: absolute;
    width: calc(100% + var(--inset)*2);
    height: calc(100% + var(--inset)*2);
    border-radius: var(--border);
    inset: calc(0 - var(--inset));
}

.magi::before {
    background: radial-gradient(var(--circle-size) circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.3), transparent 40%);
    z-index: -1;
}

.magi::after {
    background: linear-gradient(180deg, rgba(78, 78, 100, 0.48) 0%, rgba(78, 78, 100, 0.2) 100%);
    z-index: -2;
}

.magi .show {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: var(--border);
    opacity: 0;
    pointer-events: none;
    background: radial-gradient(var(--circle-size) circle at var(--mouse-x) var(--mouse-y), rgba(180, 148, 190, 0.75), transparent 40%);
    z-index: 1;
}