.index .hello {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}

.index .hello .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.index .hello .title-name {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    position: relative;
    background: var(--bg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.index .hello .title-link {
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;
}

.index .hello .title-link:hover {
    color: #888;
}

.index .hello .title-image {
    width: 700px;
    max-width: 100%;
    height: 400px;
    display: block;
    position: relative;
    z-index: -1;
}

.index .hello .title-image::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 50%;
    background: rgba(0, 0, 0, 1);
    z-index: 0;
}

.center_box {
    max-width: 1200px;
    margin: 0 auto;
}

.photoList-card {
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.el-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.el-col {
    flex: 0 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.el-col-24 {
    flex: 0 0 auto;
    width: 100%;
}

.col-space {
    margin-bottom: 20px;
}

.image-box {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    height: 250px; 
    overflow: hidden;
    position: relative;
}
.image-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.image:hover {
    transform: scale(1.05);
}
.el-image__inner {
    width: 100%;
    height: 100%;

    transition: transform 0.3s ease;
}

.el-image__preview {
    display: block;
}


.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}